<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="justify-content: center;display: flex;">this is home page</h1>
    <p style="font-size: large; justify-content: center; display: flex;">to view profile page you need to login ir signUp bro......</p>
<div style="display: flex; background-color: bisque;">
    <a style="margin-left: 360px;font-size: xx-large;" href="/signup">sign up</a>
    <a style="margin-left: auto; font-size: xx-large;" href="/login">login</a>
</div>
</body>
</html>