<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>this is home page</h1>
    <p>to view profile page you need to login or sign up bro......</p>
    <div> <% if (flash.error &&flash.error.length>0) { %>
        <div style="background-color: aqua; color: red; font: bold;" class="error-message">
          <%= flash.error %>
        </div>
      <% } %></div>
    <div>
        <a href="/signup">sign up</a>
        <a href="/login">login</a>
        <form action="post/create-post" method="post">
            <label for="title">Title</label>
            <input name="title" placeholder="title" type="text">
            <label for="content">content</label>
            <textarea name="content" cols="20" rows="10" placeholder="type your content here...."></textarea>
       <input type="submit" value="submit">
        </form>
        <h3>Recent Post</h3>
        <% posts.forEach(post => { %>
            <div class="post">
              <h2><%= post.title %></h2>
              <p><%= post.content %></p>
            </div>
          <% }); %>
    </div>
</body>
</html>
